
@media screen and (min-width:1025px )

{
.top-container >h1

{
right:60px;

}

.top-container >h2

{
right:55px;

}


}




* {
  padding: 0;
  margin: 0;

}

/* header
{
flex: 0 0 auto;
} */

.about{

  /* height:50vh; */
  text-align: center;
  line-height: 2;
  background-image: linear-gradient(180deg,#369a97, #369a97,white,rgb(253, 250, 250));
  padding: 30px;
  word-spacing: 0.3rem;
  display:  grid;
  grid-template-columns: auto auto;
  grid-template-rows:auto auto ;
}




.about .preeti_pic{
  position: relative;
  grid-row: 2/3;
  grid-template-columns: 1/2;
  width: 20rem;
  height: 20rem;
  margin: auto 20px;
  border: solid 10px #cacfd3;
  border-radius: 50%;

  bottom: 60px;
  box-sizing: border-box;
  rotate: 4deg;
}

.about p{

  font-family: sans-serif;
  margin: 30px 20px;

  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 1.1rem;
 } 

.about h2{
  text-align: center;
  color: rgb(197, 198, 198);
  grid-row: 1/2;
  grid-column: 1/3;
  font-size: 3vw;
}



aside {
  grid-column: 2/3;
  justify-self: end;
  align-self: flex-end;
  position: relative;
  right:30px;

}

.back-top{
  margin-right: 20px;
  margin-bottom: 50px;

}
body {
   display: flex;
  flex-direction: column;
  text-align: center;

  font-family:  serif;
  background-attachment: fixed;
  position: relative;
  min-width: fit-content;
  width: fit-content;

  /* line-height: 26px; */

}


.bottom-cloud {
  position: absolute;
  top:0px;
 
  left:20px;
  width: 15.625rem;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: flex-end;
  justify-self: end;
  animation: bouncy 2.5s linear infinite;
  z-index: 2;
}

@keyframes bouncy {

  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-150px);
  }

  100% {
    transform: translateX(0);
  }

}

.bottom-container {
  background-color: #47b1ad;
  padding: 10px 0;
}

.bottom-container a {
  padding: 20px 30px ;
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
}


.bottom-container a:hover {
  color: grey;
}

.bottom-container p {
  color: #EAF6F6;
  padding-top: 15px;
}

.btn {
  background-image: linear-gradient(90deg, #3498db, #3bbdbd);
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 1rem;
  padding: 15px 42px;
  text-decoration: none;
  margin: 0;
  font-weight: 500;
}

.btn:hover {
  background: #3bbdbd;
  color: #ffffff;
  background-image: linear-gradient(90deg,  #3bbdbd, #3498db);
  text-decoration: none;
}


.collapse
{
  justify-content: flex-end;
}

.contact-me {
  margin-bottom: 100px;
  justify-self: end;
  position: relative;
  left: 50px;
}

.contact-me h2
{
  padding: 20px;
  margin-bottom: 50px;
}


.frontend1 {

  width: 250px;
  height: 130px;
  margin-bottom: 20px;
  box-shadow: -16px 13px 10px -1px grey;
  box-sizing: border-box;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-size: 1.5vw;
}

h2{
  justify-self: center;
  justify-items: center;
  align-items: center;

  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  /* font-size: 4vmax; */
  color: #59C1BD;
  font-weight: normal;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  color: #74b6b9;
  font-size: 1vw;
  /* font-size: 1vmax; */
}

hr {
  border-width: 15px;
  width: 8%;
  border-style: dotted;

  border-bottom: none;
  border-color: #535050;
  margin: 150px auto;

}


img{
  -webkit-user-drag: none;   /* use to disable dragging of img */
}



.list{

  width: 20%;

  text-align: left;
  font-size: 1.5rem;
  line-height: 3rem;
  color:#219ca0;
  
 
}


#main-end {
  display: grid;
  grid-column: 1fr 1fr;

  /* word-spacing: normal; */
}

.mountain {
  position: relative;
  grid-column: 1/6;
  grid-row: 3/4;
  width: 38rem;
  height: auto;
  justify-self: center;
  align-self: flex-end;
  top:30px;

}

.middle-container {
  margin: 100px 0px;

}

#nav-color a{
  color: #5ec4a9;
  font-family: 'Sacramento', 'cursive';
  font-size: 1.7vw;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
  padding:10px 20px;
}

#nav-color a:hover
{
  color: silver;
}
#nav-color a:active
{
  color: #1c8670;
}


p>span{
  font-family: 'Sacramento', cursive;
  font-size: 2vw;
 }

/* p{ 
  font-size: 1vw;
  font-weight: 100px;
} */


.python {
  width: 30%;
  float: left;
  margin-right: 100px;
}

#project{

  margin-bottom: 100px;
  text-align: center;
  justify-self: center;
}

.project-body{
  background: #f9f9ff;
  padding-top: 50px;
}

.project-section{
  word-spacing: 0.3rem;
  display: flex;
 
  flex-direction: row;

  gap: 100px;
  justify-content: center;
  flex-wrap:wrap;
  }

  .project-section a{
    color: #B2B2B2;
    margin-left: 70px;
}

.project-section a:hover{
  color:#67b7b9

}


.project-row {

  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
  border-color: #fff;

  border-radius: 10px;

  background: #fff;

  box-sizing: border-box;

  padding:50px 50px;
  max-width: 40%;


}

.project-row:hover .frontend1{
  box-shadow: -16px 13px 10px -1px rgb(176, 227, 244);
  box-sizing: border-box;
}
 
.project-row>h3{
  padding: 20px;
}

.project-row>h4{
  padding: 10px;
}

.project-row>p{
  padding: 10px;
}

.row7{
margin-bottom: 50px;
}

.ccna
{
  height: 230px;
  width: 250px;
}

.skills{
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin:100px ;
  gap: 50px;
}


.top-cloud {
  position: absolute;
  top: 80px;

  width: 15.625rem;
  height: auto;
  grid-column: 4/5;
  justify-self: center;
  animation: top-bouncy 2.5s linear infinite;
  right: 0;
}

@keyframes top-bouncy {

  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-40px);
  }

  40% {
    transform: translateX(0px);
  }

  70% {
    transform: translateX(40px);
  }

  100% {
    transform: translateX(0);
  }

}

.top-container {
  position: relative;
  width: 100%;
  height: auto;

  gap: 5px;
  background-color: #e8ecef;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 2fr 500px 1fr 1fr;
  grid-template-rows: auto auto auto;
  padding-bottom: 30px;

}

.top-container h1 {
  position: relative;

  grid-column: 3/ 4;
  grid-row: 1/2;

  /* justify-self: baseline; */
  text-align: center;
  align-self: center;
  z-index: 1;

  font-family: 'Sacramento', cursive;
  color: #59C1BD;
  font-size: 5vw;
  font-weight: 600;
 

}


.top-container h2 {
  position: relative;
  grid-column: 3/4;
  grid-row: 2/3;
  justify-self: center;
  justify-items: center;
  align-items: center;
 

font-size: 3vw;
  font-family: 'Montserrat', sans-serif;
  color: #46b49c;
  font-weight: normal;
  bottom: 30px;
  z-index: 3;
}

#typing-text
{
  font-family:  sans-serif,'Montserrat';
  color: #46b49c;
  font-weight: normal;

}

.zigzag-element {
  position: relative;
  top:10px;
  width: 200px;
  height: 200px;
  grid-column: 1/3;
  grid-row: 1/2;
  justify-self: center;
  border: none;
  border-radius: 30%;
  animation: zigzag 2s ease-in-out infinite;
  z-index: 3;
}

@keyframes zigzag {
   0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(20px) translateX(5px) rotate(5deg);
  }
  50% {
    transform: translateY(0) translateX(0) rotate(-5deg);
  }
  75% {
    transform: translateY(10px) translateX(-5px) rotate(5deg);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

.shadow-lg 
{
box-shadow: 1px 4px 11px -4px #787878!important;
}


.mt-n1 {
  margin-bottom: 0.4rem !important;
 
}

.bg-light
{
background-color: #f8f9fa!important;

}

.navbar-toggler[aria-expanded="true"] {
color: #5ec4a9!important;
}

p{
    font-family: sans-serif;
}


@media screen and (max-width: 768px) 
{
  .top-container > h1
  { 
  font-size: 72.8px;
  }

  .top-container >h2 
  {
  font-size: 42.88px;
  }

  .top-cloud
  {
     width: 22vw;
     height: auto;
     top:110px;
  }

  .bottom-cloud
  {
  width: 22vw;
   height: auto;
  left:50px;
  top:25px;
  }
  .about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-spacing: 0.3rem;
  text-align: center;
}
.about .preeti_pic{
  position: relative;
  margin: 0 auto;
  top:10px;
}
.about > h2{

  font-size: 42.88px;
  font-weight: 600;
}

.about >p
{
  font-size: 17px;
   font-family: sans-serif;
}

p>span{
  font-size: 27.92px;
 }
 
.project-row {
  border-radius: 10px;
  padding:50px 50px;
  max-width: 42%;

}

.project-row>h2
{
font-size: 46px;
}

.project-row>h3{
  padding: 20px;
  font-size: 24px;
  font-weight: 600;
  text-align:center;
}

.project-row>h4{
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}

.project-row>p{
  padding: 10px;
  font-size: 17px;

}

.frontend1 {

  margin-bottom: 20px;
 width: 100%;
 height: auto;
}



 .project-section a{
   text-align: center;
display: block;
margin: 10px auto;
font-size: 25px;
}

.contact-me {
  margin: 50px auto;
  text-align: center;
  width: 140%;
}

.contact-me >h2
{
font-size: 46px;
}

.btn{
 font-size: 20px;
}

hr {
 
  width: 12%;
  margin: 70px auto;

}
.ccna
{
  height:40vw;
  width: 40vw;
}
.bottom-container p {
 font-size: 12.96px;
}

#nav-color a{
  font-size: 30px;
  font-weight: 700;
}

h2
{
font-size: 46px;
}

.list
{
font-size: 22px;
line-height: 43px;
}

.frontend1:hover{
  box-shadow: -16px 13px 10px -1px rgb(176, 227, 244);
  box-sizing: border-box;
}
}


@media screen and (max-width:468px) {


.top-container > h1
  { 
  font-size: 70.8px;
  }

  .top-container >h2 
  {
  font-size: 40.88px;
  }

  .top-cloud
  {
    width: 35vw;
    height: auto;
  }

  .bottom-cloud
  {
    width: 35vw;
    left:50px;
    top:50px;
  }

  .about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-spacing: 0.3rem;
  text-align: center;
}
.about .preeti_pic{
  position: relative;
  margin: 0 auto;
  top:10px;

}

.about >h2
{
font-size: 60px;

}

.about >p
{
  font-size: 30px;
    font-family: sans-serif;
}

p>span{
  font-size: 40px;
 }
 
.project-row {
  border-radius: 10px;
  padding:50px 50px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.project-row>h2
{
font-size: 50px;
}

.project-row>h3{
  padding: 20px;
  font-size: 35px;
  font-weight: 600;
  text-align:center;
}

.project-row>h4{
  padding: 10px;
  font-size: 30px;
  font-weight: 600;
  line-height: 3rem;
}

.project-row>p{
  padding: 10px;
  font-size: 27px;
  line-height: 3rem;
}

.frontend1 {

  margin: 20px auto;
 width: 100%;
 height: auto;
}


 .project-section a{
   text-align: center;
display: block;
margin: 10px auto;
font-size: 35px;
}

.contact-me {
  margin: 50px auto;
  text-align: center;
  width: 140%;
}

.contact-me >h2
{
font-size: 49px;
}

.btn{
 font-size: 24px;
}

hr {
 
  width: 12%;
  margin: 70px auto;

}
.ccna
{
  height:auto;
  width: 100%;
}
.bottom-container p {
 font-size: 17.96px;
}

#nav-color a{
  font-size: 32px;
  font-weight: 700;
  
}


.list
{
font-size: 30px;
line-height: 50px;
}

.ccna
{
  height: auto;
  width: 100%;
}


.frontend1:hover{
  box-shadow: -16px 13px 10px -1px rgb(176, 227, 244);
  box-sizing: border-box;
}
}



@media screen and (max-width:1024px) and (min-width:769px ) {

.top-container >h1

{

font-size:4rem;

right: 25px;
}

.top-container >h2

{

font-size:2.5rem;

}

.top-cloud

{
   width: 170px;
   height: auto;
   
}

.bottom-cloud

{
   width: 150px;
   height: auto;
   left:100px;
}

  .about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-spacing: 0.3rem;
  text-align: center;
}
.about .preeti_pic{
  position: relative;
  margin: 0 auto;
  top:10px;
}
.about > h2{

  font-size: 42.88px;
  font-weight: 600;
}

.about >p
{
  font-size: 17px;
   font-family: sans-serif;
}

p>span{
  font-size: 27.92px;
 }

 #nav-color a{
  font-size: 20px;
  font-weight: 700;
  
}
}

